<div class="jumbotron" id="blog-post"> 
<a href="/game/{{id}}"><h1 class="display-4" id="game-id">{{home_team}} vs. {{away_team}}</h1></a>
<p class="lead" id="user-name">{{home_team}} odds are {{home_team_moneyline}}</p>
<p class="lead" id="user-name">{{away_team}} odds are {{away_team_moneyline}}</p>
<p class="lead" id="user-name">This game will kickoff at {{format_date start_time}}</p>
<p class="lead" id="user-name">The point spread for this game is {{point_spread}}</p>
<hr class="my-4">
</div>