<div class="col text-center">
    <a href="/game/{{id}}" class="display-4" id="game-id-home">{{home_team}}</a>
    <p>{{home_team}} odds are {{home_team_moneyline}}</p>
</div>
<div class="col text-center">
    <a href="/game/{{id}}"class="display-4" id="game-id-away">{{away_team}}</a>
    <p>{{away_team}} odds are {{away_team_moneyline}}</p>
</div>
<div class="row text-center" id="game-kick-off">
    <p>This game will kickoff on {{format_date start_time}}</p>
    <p>The point spread for this game is {{point_spread}}</p>
</div>