<div class="jumbotron" id="blog-post"> 
<a href="/user/{{id}}"><h1 class="display-4" id="user-id">{{name}}</h1></a>
<p class="lead" id="user-name">{{name}} has {{points}} points</p>
<hr class="my-4">
<p>Email: {{email}}</p>
<p>Favorite Team: {{fav_team}}</p>
</div>